<li class="list-inline-item">
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block"
        href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if "bag" in message.tags %}
                    <div class="bag-toast">
                        {% include './toasts/toast.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </a>
</li>